.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .register-container form {
    max-width: 400px;
    width: 100%;
    padding: 40px 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .register-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .register-container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-container button:hover {
    background-color: #0056b3;
  }
  
  .register-container p {
    margin-top: 15px;
  }
  
  .register-container a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
  }
  
  .register-container a:hover {
    text-decoration: underline;
  }
  
  .register-container .erro {
    color: red;
    margin-top: 10px;
  }
  